<div class="container gradient-bg">
    <div class="text-container">
        <div id="title">Hi!</div>
        <div id="subtitle">
            <p>
                This is a example website to learn and test about deployment, this website is built with Angular 8 and is hosted on a apache2 served on Debian
            </p>
        </div>
        <div class="links">
            <div class="link"><a href="https://github.com/0smak/angular-autodeploy-apache-test" target="_blank">Github repository</a></div>
        </div>
    </div>
</div>